:root {
  --color-1: #222;
  --color-2: #ececec;
}
body {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.prime::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(img/bg-snow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 50vh;
  z-index: -1;
}

.prime {
  position: relative;
  min-height: 50vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.prime main {
  color: var(--color-2);
}

.mynavbar {
  background-color: var(--color-1) !important;
}

.mynavbar .navbar-brand {
  font-size: 1.6rem;
  font-weight: bolder;
  color: var(--color-2);
}

.mynavbar .navbar-collapse {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.mynavbar .navbar-collapse a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: var(--color-2);
  font-weight: bold;
}

.mynavbar .navbar-collapse a:hover {
  color: var(--color-2);
  background-color: var(--color-1);
  border-radius: 5px;
}

.info {
  background-color: var(--color-1) !important;
  color: var(--color-2);
}

.card-trip {
  position: relative;
  cursor: pointer;
}

.card-trip:hover {
  outline: 0.1rem solid var(--color-1);
  outline-offset: 0;
  transform: scale(1.02);
}

.footer {
  background-color: var(--color-1) !important;
  color: var(--color-2);
}

@media (max-width: 1200px) {
}

/* Laptop */
@media (max-width: 992px) {
}

/* Tablet */
@media (max-width: 768px) {
  .mynavbar .navbar-brand {
    font-size: 1.2rem;
  }
  .card-trip {
    width: 155px;
  }
  .card-trip p {
    font-size: 0.9rem;
  }
  .info .imgvimi {
    width: 100%;
  }
  .card-trip:hover {
    outline: 0;
    outline-offset: 0;
  }
}

/* Phone */
@media (max-width: 576px) {
}
